body{
    margin: 5% auto; /*Afegim una mica de marge per a destacar més el Formulari*/
    display: flex;
    justify-content: center; /* D'aquesta forma el margin auto centra el formulari en pantalla*/
    background-color: rgba(0,0,0, 0.8); /*rba per poder indicar el canal alfa del color*/
}
*{
    font-family: sans-serif; /*Canviem la font del document sencer*/
}
form{
    padding: 1px 50px 50px 50px; /*Padding per a separar el text del limit del contenidor*/
    background-color: #b4d1ce; /*Color amb Hexadecimal*/
    border-radius: 10px; /*Arrodonir les vores*/
    min-width: 600px;
}
h1{
    text-align:center;
    font-weight: 900;
    width:100%; /*Fem que ocupi tot l'espai disponible horitzontalment*/
    font-size:40px;
}
label{
    line-height:25px; /*ampliem l'alçada de lina dels labels per aseparar-los una mica dels inputs*/
}
#edat, #telefon, #id-doc{ /*selector d'id*/
    width:100px;
    padding:10px;
    border-radius: 5px;
    border: 3px solid transparent; /*vora transparent per a evitar canvis de mida un cop el fem visible amb :focus*/
    text-align: center;
    font-weight: bold; /*negreta*/
}
.class-nom, .class-email{ /*selectors de classe*/
    width:300px;
    padding:10px;
    border-radius: 5px;
    border: 3px solid transparent;
    font-weight: bold;
}
    .class-nom:focus, .class-email:focus, #telefon:focus, #edat:focus, #id-doc:focus {
    /*selectors de :focus per a canviar estils un cop l'usuari fa click al input o hi arriba tabulant*/
        border-color: black;
        background-color: rgba(33, 248, 255, 0.4);
    }

select{
    background: transparent;
    border: 3px solid transparent;
    appearance: none; /*treiem la fletxa del desplegable <select>*/
    padding:4px;
    margin-bottom: 5px;
    font-weight: bold;
}
    select:focus, select:hover{
        background-color: rgba(68, 212, 200, 0.4);
        border-radius: 5px;
        border-color: black;
        cursor:pointer; /*Fem que el cursor sigui de l'estil Pointer mentre siguem a sobre o seleccionem una opci-o del desplegable*/
    }


input[type=checkbox], input[type=radio]{ /*selectors dels inputs segons el seu type*/
    cursor: pointer;
    font-size: 14px;
    accent-color: #44d4c8; /*canvia el color dels quadrats i rodones clickables*/
}
p{
    font-weight: bold;
}
textarea{
    min-width: 600px; /*min i max width iguals per evitar que canvii l'amplada quan l'usuari arrosegui la vora detra del textarea.*/
    max-width: 600px; 
    max-height: 150px; /*Amb el min i max-height bloquejem les altures que volem*/
    min-height:60px; 
    border-radius: 5px;
    border: 3px solid transparent;
    padding: 15px;
    font-size: 14px;
}
    textarea:focus{
        background-color: rgba(68, 212, 200, 0.4);
        border-color: black;
    }

input[type=submit]{
    width:100%;
    padding:20px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid transparent;
    font-size: 20px;
}
    input[type=submit]:hover{
        border: 3px solid black;
    }
    input[type=submit]:active{
        background:rgba(68, 212, 200, 0.4);
        color: white;
    }

/*Aquesta part només afecta al html de formulari_enviat*/
article{
    background: #b4d1ce;
    padding: 1px 50px 50px 50px;
    border-radius: 10px;
    text-align: center;
    min-width:636px;
}
article > footer{
    font-size: 10px;
    padding-top: 30px;
}
article > a > button{
    padding: 10px;
    width:100%;
    padding:20px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid transparent;
    font-size: 20px;
}
      button:hover{
          border: 3px solid black;
      }
      button:active{
          background:rgba(68, 212, 200, 0.4);
          color: white;
      }